.infoModal-wrapper
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}


.infoModal-backdrop
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.300);
    z-index: 1100;
}


.infoModal
{

    position: fixed;
    top: 50%;
    left: 50%;
    width: min(60vw, 25rem);
    transform: translate(-50%, -50%);
    border: none;
    background-color: var(--c-cards);
    border-radius: var(--space-xs);
    overflow: hidden;
    z-index: 1100;
}


.infoModal button
{
    background-color: var(--c-button);
    color: var(--text-color);
}

/*
.infoModal:focus
{
    outline: var(--border-sytle);
    outline-offset: 0;
}
*/


.infoModal-content-container
{
    height: 100%;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    padding: 2rem;
    overflow: auto;
}


.infoModal-message
{
    font-size: var(--f-small-size);
    font-weight: 500;
    text-align: center;
    text-wrap: balance;
}


.infoModal-buttons-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    gap: 2rem;
}


.infoModal-buttons-container button
{
    width: 50%;
}


/*
@media (min-width: 28.2em)
{
    .infoModal
    {
        max-width: 25rem;
    }
}
*/
